body {
    background: #0f0f0f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-weight: 900;
}

p {
    font-weight: 700;
}